  // ---------------------- //
 //  Typography Variables  //
// ---------------------- //
$type-base: 16px;
$ts-ratio: 1.2;

$__type-scale: (
  "desktop": (
    3: to-unit(48px, "rem"),
    2: to-unit(36px, "rem"),
    1: to-unit(24px, "rem"),
    0: to-unit(16px, "rem"),
   -1: to-unit(12px, "rem"),
   -2: to-unit(10px, "rem"),
  ),
  "mobile": (
    3: to-unit(42px, "rem"),
    2: to-unit(34px, "rem"),
    1: to-unit(22px, "rem"),
    0: to-unit(14px, "rem"),
   -1: to-unit(10px, "rem"),
   -2: to-unit(8px, "rem")
  )
);

$font-stack: "Source Sans Pro", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Noto Sans", Noto, sans-serif !default;

$__font-weight: (
  "roman": 400,
  "semi-bold": 600
);


  // --------------------- //
 //  Palettes and Colors  //
// --------------------- //

// Palette Map
$__palette: (
	// colors that are used across both themes like neutrals
	"base": (
		"bg-dark": color("ultramarine", 70),
		"bg-darker": color("ultramarine", 90),
		"bg-light": #F2F2F2,
		"bg-lighter": #ffffff,
		"text": color("ultramarine", 80)
	),
	// colors for the light theme
	"light-ui": (
		// light theme base colors
    "bg-light": #F2F2F2,
		"bg-lighter": #ffffff,
		"text": #595859,
		"accent": #321C4C,
		// light theme active colors
		"active": color("peach", 60),
		"focus": color("peach", 50),
		"inactive": color("grey", 30),
		// light theme status colors
		"info": color("blue", 50),
		"success": color("green", 50),
		"warn": color("yellow", 50),
		"error": color("red", 50)
	),
	// colors for the dark theme
	"dark-ui": (
		// dark theme base colors
		"bg-dark": color("ultramarine", 80),
		"bg-darker": color("ultramarine", 90),
		"text": color("cool-white", 2),
		"accent": color("ultramarine", 20),
		// dark theme active colors
		"active": color("teal", 30),
		"focus": color("teal", 20),
		"inactive": color("grey", 50)
		// TO DO: add status colors for the dark ui theme
    // dark theme status colors
		// "info": color("ultramarine", 50),
		// "success": color("green", 50),
		// "warn": color("yellow", 50),
		// "error": color("red", 50)
	),
	// TO DO: rename keys, add to the "base" map, re-work palette functions and remove
	"neutrals": (
		"1": color("neutral-white", 1),
		"2": color("neutral-white", 2),
		"3": color("neutral-white", 3),
		"4": color("neutral-white", 4)
	),
	// TO DO: rename keys, add to the "base" map, re-work palette functions and remove
	"secondary": (
		"light": color("grey", 10),
		"medium": color("grey", 30),
		"dark": color("grey", 50)
	)
);

  // ----------------------- //
 //     standardization     //
// ----------------------- //

$transition-snappy: cubic-bezier(0.01, 0.03, 0.28, 0.99);

$__z-index-stack: (
  "bottom": -10000,
  -3: -300,
  -2: -200,
  -1: -100,
  1: 100,
  2: 200,
  3: 300,
  "top": 10000
)
